.delivery-speed-factors {
  // padding-bottom: 91px;
}

.rectangle {
  background: #f0f0f0;
  padding: 45px 45px;

  @include mobile {
    padding: 20px 16px;
  }
}

.delivery-speed-factors-list {
  flex-direction: column;
  margin-top: 20px;
  gap: 15px;
}

.delivery-speed-factors-btn {
  margin: 40px auto 0px;
  width: 334px;

  @include mobile {
    width: 100%;
  }
}
