.transport-options-ukraine-list {
  align-items: baseline;
  justify-content: space-between;

  @include mobile {
    flex-wrap: nowrap;
    gap: 0px;
  }

  @include tablet {
    flex-wrap: nowrap;
    gap: 0px;
  }

  .our-fleet-list__item-img {
    @include mobile {
      display: none;
    }
  }
}

.transport-options-wrap {
  padding: 15px 20px;
  background: #f0f0f0;
  width: 406px;
  min-height: 246px;

  @include mobile {
    width: 100%;
  }
}
