.oversized-transport-proces {
  padding-bottom: 91px;

  @include mobile {
    padding-top: 30px;
  }

  .flex-left-list {
    margin-bottom: 67px;
  }

  .flex-right {
    margin-top: 50px;
  }

  .flex-right-list {
    margin-top: 54px;
    max-width: 683px;

    .item {
      margin-left: 30px !important;
    }
  }

  .flex-right-subtitle {
    margin-top: 37px;
  }

  .flex-right-wrap-images img {
    @include mobile {
      max-width: 100%;
      height: 100%;
    }
  }
}

// non

.non-standard-load-wrap2 {
  margin-top: 30px;
}

.oversized-transport-proces .flex-right-list {
  @include mobile {
    margin-left: 0;
    padding-left: 0;
  }
}

.container-wrap {
  display: flex;
  margin-top: 52px;

  @include mobile {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: column;
  }
}

.max-width {
  max-width: 684px;
}

.special-delivery {
  margin-bottom: 91px;

  .btn {
    width: 334px;
    height: 64px;
    flex-shrink: 0;
    margin: 50px auto 0px auto;
  }
}

.oversized-vehicles-list {
  gap: 6px;
  &__item {
    h3 {
      border-bottom: 3px solid red;
      width: 20%;
      margin-bottom: 6px;
    }

    .oversized-vehicles-descr {
      margin-top: 6px;
    }
  }
}
