.btn {
  width: 334px;
  height: 64px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: none;
  cursor: pointer;
  padding: 18px 25px;
  gap: 11px;
  font-family: $font-roboto-light;
  font-size: 20px;
  color: #f5f5f5;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35;
  z-index: 5;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);

  svg {
    @include mobile {
      width: 35px;
      height: 35px;
    }
  }

  &:active svg {
    color: $color-accent;
    background-color: $white-color;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #f5f5f5;
    padding: 18px 25px;
    background: linear-gradient($color-accent 71.63%, $color-accent 90.75%);
    transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
  }

  &:hover::after {
    background: url("./../images/background.png") center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @include mobile {
    font-size: 16px;
  }
}
