.hamburger-menu {
  display: none;
}

.open {
  display: block;
}

.wrap-mobile {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.hamburger-menu {
  display: none;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 263px;
  height: max-content;
  min-height: 100%;
  padding: 0 0 0 16px;
  box-sizing: border-box;
  overflow-y: auto;
}

.open {
  display: block;
}

.hamburger-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  margin-top: 66px;
}

.hamburger-menu ul li {
  margin-bottom: 10px;
}

.hamburger-menu ul li a {
  color: #434343;
  font-family: $font-roboto-light;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.35;

  &:hover {
    color: #ff4f28;
  }
}

.close-icon {
  position: relative;
  z-index: 2147483647;
}

.mobile-menu.hamburger-menu.open {
  fill: black;
  height: 100vh;
}

.close-icon {
  display: none;
}

.form-popup {
  position: absolute;
  top: 70%;
  z-index: 9999;
  background: black;
  height: 100vh !important;
}
