.phone-popup-mobile {
  position: absolute;
  left: 0;
  top: 70px;
  gap: 47px;
  width: 100%;
  height: 100vh;
  align-items: center;
  background: $white-color;
  color: black;
  display: none;
  overflow: hidden;

  @include tablet {
    top: 110px;
    top: 80px;
  }

  .phone-popup-title {
    font-family: $font-roboto-medium;

    @include tablet {
      color: black;
    }
  }

  .phone-info .phone-number {
    color: black;
    font-family: $font-roboto-medium;
  }
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 143px;
  gap: 47px;
  background: $white-color;
}

.mobile-svg {
  cursor: pointer;
}

.form-close-icon {
  cursor: pointer;
}

// phone-modal-popup

.phone-modal-popup {
  position: fixed;
  z-index: 99999;
  top: 7%;
  height: 100vh !important;
  opacity: 0;
  transition: opacity 0.5s ease-in;

  @include tablet {
    width: 100% !important;
    height: 100vh;
    top: 6%;
  }
}

.close-icon-form {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  z-index: 99999;
  cursor: pointer;
}
