.phone-popup-mobile {
  position: absolute;
  left: 0;
  top: 70px;
  gap: 47px;
  width: 100%;
  height: 100vh;
  align-items: center;
  background: white;
  color: black;
  display: none;
  overflow: hidden;

  .phone-popup-title {
    color: black;
    font-family: Roboto-medium;
  }

  .phone-info .phone-number {
    color: black;
    font-family: Roboto-medium;
  }
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 143px;
  gap: 47px;
  background: white;
}

.mobile-svg {
  cursor: pointer;
}

.form-close-icon {
  cursor: pointer;
}
