.btn {
  border: none;
  cursor: pointer;
  padding: 18px 25px;
  gap: 11px;
  display: flex;
  align-items: center;
  font-family: Roboto-light;
  font-size: 20px;
  color: #f5f5f5;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35;
  background: linear-gradient(151deg, #ff4f28 71.63%, #ffa490 80.08%, #ff4f28 90.75%);

  @include mobile {
    font-size: 15px;
  }

  &:active svg {
    color: #ff4f28;
    background-color: white;
    border-radius: 50%;
  }

  &:hover {
    background: linear-gradient(212deg, #ff4f28 71.63%, #ffa490 80.08%, #ff4f28 90.75%);
  }
}

// .btn {
//   position: relative;
//   border: none;
//   cursor: pointer;
//   padding: 18px 25px;
//   gap: 11px;
//   display: flex;
//   align-items: center;
//   font-family: Roboto-light;
//   font-size: 20px;
//   color: #f5f5f5;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 1.35;
//   background: linear-gradient(151deg, #ff4f28 71.63%, #ffa490 80.08%, #ff4f28 90.75%);
//   transition: all 3s;
// }

// .btn::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   color: #f5f5f5;
//   border-radius: 50%;
//   padding: 18px 25px;
//   background: linear-gradient(151deg, #ff4f28 71.63%, #ffa490 80.08%, #ff4f28 90.75%);
//   transition: all 3s;
//   z-index: -2;
// }

// .btn:hover::after {
//   background: linear-gradient(212deg, #ff4f28 71.63%, #ffa490 80.08%, #ff4f28 90.75%);
// }

// .btn:active::after {
//   background: linear-gradient(212deg, #ff4f28 71.63%, #ffa490 80.08%, #ff4f28 90.75%);
// }
