.header {
  background: #191919;
}

.header-content {
  display: flex;
  align-items: center;
  padding: 30px 60px 20px 70px;

  @include mobile {
    padding: 20px 16px;
  }

  @include tablet {
    flex-direction: column;
    padding: 30px 30px 30px 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.content-wrap {
  display: flex;
  align-items: flex-start;
}

.logo-wrap {
  display: flex;
  align-items: flex-start;

  @include tablet {
    display: flex;
    padding: 0px 0px;
  }

  &__img {
    width: 36px;
    height: 22px;

    @include mobile {
      width: 30px;
      height: 18px;
    }
  }

  &__title,
  &__subtitle {
    color: #fff;
    font-family: "GetVoIP Grotesque";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    @include mobile {
      font-size: 22px;
    }
  }
  &__subtitle {
    font-size: 16px;
    @include mobile {
      font-size: 13px;
    }
  }
}

.nav {
  display: flex;
  margin-left: auto;
  justify-content: space-around;
  align-items: center;

  @include mobile {
    display: none;
  }

  @include tablet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-top: 30px;
    width: 100%;
  }
}

.nav-info {
  .phone-info.info-spacing {
    margin-right: 32px;
  }

  .phone-popup.info-spacing {
    margin-right: 43px;
  }
}

.phone-info {
  .phone-number {
    color: #fff;
    font-family: Roboto-light;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.35;
  }
}

.phone-popup {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 2px solid #ff4f28;

  color: #fff;

  font-family: Roboto-light;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.35;

  gap: 14px;
  padding: 16px 21px 16px 31px;
}

.lang {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 102px;
  height: 34px;
  flex-shrink: 0;

  color: #fff;
  font-family: Roboto-light;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35;
  border-radius: 20px;
  background: #3e3e3e;
  text-transform: uppercase;

  .ua {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff4f28;
    border-radius: 20px;
    width: 56px;
    height: 34px;
  }

  .ru {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 34px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.35;

    border-radius: 20px;
    background: #3e3e3e;

    &:active {
      background: #ff4f28;
    }
  }
}

.wrap-mobile {
  display: flex;
  flex-direction: row;
  margin-left: auto;

  @include desktop {
    display: none;
  }
}

.mobile-svg {
  margin-right: 25px;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.mobile {
  svg {
    width: 26px;
    height: 26px;
  }
  cursor: pointer;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.mobile-menu {
  cursor: pointer;
  @include desktop {
    display: none;
  }
}
