.phone-popup-mobile {
  position: absolute;
  left: 0;
  top: 10%;
  gap: 47px;
  width: 100%;
  height: 100%;
  align-items: center;
  background: white;
  color: black;
  display: none;

  .phone-popup-title {
    color: black;
  }

  .phone-info .phone-number {
    color: black;
  }
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 143px;
  gap: 47px;
}

.mobile-svg {
  cursor: pointer;
}


.form-close-icon{
  cursor: pointer;
}