.swiper-container {
  // width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  @include desktop {
    display: none !important;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #ff4f28;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: #434343;
}
