// utils
@import "./utils/variables";
@import "./utils/reviews";
@import "./utils/common";
@import "./utils/swiper";

// base
@import "./base/btns";
@import "./base/popup";
@import "./base/hamburger";
@import "./base/dropdown";

// partials
@import "./partials/home/header";
@import "./partials/home/hero";
@import "./partials/home/our-fleet";
@import "./partials/home/why-choose-us";
@import "./partials/home/cargo-advantages";
@import "./partials/home/transport-services.scss";
@import "./partials/home/pricing-factors";
@import "./partials/home/popular-vehicles";
@import "./partials/home/cargo-features";
@import "./partials/home/work-areas";
@import "./partials/home/footer";

// vantazhni-perevezennya-po-ukrayini
@import "./partials/vantazhni-perevezennya-po-ukrayini/ukrainian-freight-transportation";
@import "./partials/vantazhni-perevezennya-po-ukrayini/cost-factors";
@import "./partials/vantazhni-perevezennya-po-ukrayini/delivery-speed-factors";
@import "./partials/vantazhni-perevezennya-po-ukrayini/transport-options-ukraine";
@import "./partials/vantazhni-perevezennya-po-ukrayini/xxl-logistics-advantages";
@import "./partials/vantazhni-perevezennya-po-ukrayini/key-benefits";

// mizhnarodni-vantazhni-perevezennya
@import "./partials/mizhnarodni-vantazhni-perevezennya/europe-freight-transport";
@import "./partials/mizhnarodni-vantazhni-perevezennya/best-europe-transport";
@import "./partials/mizhnarodni-vantazhni-perevezennya/road-transport-features";
@import "./partials/mizhnarodni-vantazhni-perevezennya/eu-freight-pricing";
@import "./partials/mizhnarodni-vantazhni-perevezennya/eu-cargo-trends";
@import "./partials/mizhnarodni-vantazhni-perevezennya/euro-shipment-problems";
@import "./partials/mizhnarodni-vantazhni-perevezennya/key-benefits";
@import "./partials/mizhnarodni-vantazhni-perevezennya/customer-perks";

// perevezennya-negabaritnih-vantazhiv
@import "./partials/perevezennya-negabaritnih-vantazhiv/oversized-cargo-transport";
@import "./partials/perevezennya-negabaritnih-vantazhiv/oversized-transport-process";

.list {
  display: flex;
  padding-left: 27px;

  @include mobile {
    padding-left: 20px;
  }

  .item {
    color: $white-color;
    font-family: $font-roboto-light;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.35;

    @include mobile {
      width: auto;
      font-size: 15px;
    }
    @include tablet {
      width: auto;
      font-size: 17px;
    }
  }
}

.black {
  color: $secondary-color !important;
}

.item {
  position: relative;

  &:before {
    content: url("../images/down-why-choose.png");
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -27px;
    top: 0px;
    width: 17px;

    @include mobile {
      width: 11px;
      left: -20px;
    }
  }
}

.highlighted-text {
  color: $color-accent;
}

img {
  max-width: 100%;
  display: block;
}

.title {
  font-family: $font-getvoip;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;

  @include mobile {
    font-size: 20px;
  }

  @include tablet {
    font-size: 30px;
  }
}

.title2 {
  color: #434343;
  font-family: $font-getvoip;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;

  @include mobile {
    font-size: 20px;
  }

  @include tablet {
    font-size: 20px;
  }
}

.title-medium {
  color: #434343;
  font-family: $font-roboto-medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.35;

  @include mobile {
    font-size: 16px;
  }
}

.descr {
  color: $secondary-color;
  font-family: $font-roboto-light;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.35;

  @include mobile {
    font-size: 15px;
  }
}

.gap15{
  gap: 15px;
}

.mg-top39 {
  margin-top: 39px;

  @include mobile {
    margin-top: 20px;
  }
}

.mg-top30 {
  margin-top: 30px;

  @include mobile {
    margin-top: 20px;
  }
}

.mg-top78 {
  margin-top: 78px;

  @include mobile {
    margin-top: 36px;
  }
}

.mg-btm20{
  margin-bottom: 20px;
}

.main-margin {
  margin-top: 106px;

  @include mobile {
    margin-top: 76px;
  }

  @include tablet {
    margin-top: 159px;
  }
}

.column{
  display: flex;
  flex-direction: column;
}

.section-top91{
  padding-top: 91px;
}