@import "./utils/reviews";
@import "./utils/common";

@import "./btns";
@import "./popup";
@import "./hamburger";
@import "./header";
@import "./dropdown";
@import "./hero";
@import "./our-fleet";
@import "./why-choose-us";
@import "./cargo-advantages";
@import "./transport-services.scss";
@import "./pricing-factors";

@import "./swiper";

.list {
  display: flex;
  padding-left: 27px;

  .item {
    position: relative;
    &:before {
      content: url('../images/down-why-choose.png');
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: -27px;
      top: 0px;
      width: 17px;
    }
  }
}

.item {
  color: white;
  font-family: Roboto-light;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.35;

  @include mobile {
    width: auto;
  }
  @include tablet {
    width: auto;
  }
}

.highlighted-text {
  color: #ff4f28;
}

img {
  max-width: 100%;
  display: block;
}
