// utils
@import "./utils/reviews";
@import "./utils/common";
@import "./utils/variables";
@import "./utils/swiper";

// base
@import "./base/btns";
@import "./base/popup";
@import "./base/hamburger";
@import "./base/dropdown";

// partials
@import "./partials/header";
@import "./partials/hero";
@import "./partials/our-fleet";
@import "./partials/why-choose-us";
@import "./partials/cargo-advantages";
@import "./partials/transport-services.scss";
@import "./partials/pricing-factors";
@import "./partials/popular-vehicles";
@import "./partials/cargo-features";
@import "./partials/work-areas";
@import "./partials/footer";

// page
@import "./partials/page/europe-freight-transport";
@import "./partials/page/best-europe-transport";
@import "./partials/page/road-transport-features";
@import "./partials/page/eu-freight-pricing";
@import "./partials/page/eu-cargo-trends";
@import "./partials/page/euro-shipment-problems";
@import "./partials/page/key-benefits";
@import "./partials/page/customer-perks";


.list {
  display: flex;
  padding-left: 27px;

  @include mobile {
    padding-left: 20px;
  }

  .item {
    position: relative;
    &:before {
      content: url("../images/down-why-choose.png");
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: -27px;
      top: 0px;
      width: 17px;
    }
  }
}

.item {
  // color: white;
  font-family: $font-roboto-light;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.35;

  @include mobile {
    width: auto;
  }
  @include tablet {
    width: auto;
  }
}

.highlighted-text {
  color: $color-accent;
}

img {
  max-width: 100%;
  display: block;
}

.descr {
  color: $secondary-color;
  font-family: Roboto-light;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.35;
}
