.transport-services {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #191919;

  &__title {
    color: white;
  }

  .all-wrap {
    display: flex;
    flex-direction: column;

    .all-wrap__title {
      color: #fff;
      font-family: Roboto-medium;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.35;
      margin: 39px 0 30px 0;
    }
  }
}

.transport-services-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.transport-services-gallery {
  margin-top: 49px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    flex-direction: column;
  }
}

.transport-services-sub {
  color: #fff;
  font-family: Roboto-light;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.35;
  margin-top: 30px;
}

.services-gallery-wrap {
  position: relative;
}

.gallery-1 {
  width: 469px;
  height: 312px;
  object-fit: cover;
}

.gallery-2 {
  width: 429px;
  height: 286px;
  object-fit: cover;
}

.gallery-3 {
  width: 531px;
  height: 451px;
  object-fit: cover;
  border-right: 10px solid #ff4f28;
  border-bottom: 10px solid #ff4f28;
}
