.transportation-info-building-materials {
  @include section-padding;
}

.building-cargo {
  .our-fleet-list__wrap-descr {
    width: 264px;

    @include mobile {
      width: 30%;
    }
  }
}

.transportation-info-building-image{
  margin-bottom: 120px;
}