.swiper-wrapper {
  overflow: hidden;
  .swiper-slide {
    width: initial;

    @include mobile {
      width: 100%;
    }

    @include tablet {
      width: 50%;
    }
  }
}

.swiper-container {
  @include mobile {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;

    justify-content: center;
    align-items: baseline;
  }
}

.swiper-container2 {
  @include mobile {
    overflow-x: hidden;
    position: relative;
  }
}

.swiper-pagination2 {
  text-align: center;
  stroke-width: 1px;
  stroke: #f0f0f0;
  margin-top: 20px;
  cursor: pointer;
  position: relative;

  @include desktop {
    display: none;
  }
}

.swiper-container3 {
  overflow-x: hidden;
  position: relative;
}

.swiper-pagination3 {
  text-align: center;
  stroke-width: 1px;
  stroke: #f0f0f0;
  margin-top: 20px;
  cursor: pointer;
  position: relative;

  @include desktop {
    display: none;
  }
}

.swiper-pagination-bullet-active {
  stroke-width: 1px !important;
  stroke: #f0f0f0 !important;
  background: #f0f0f0 !important;
  width: 11px !important;
  height: 11px !important;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: #f0f0f0 !important;
  width: 11px !important;
  height: 11px !important;
}

.swiper-button-prev,
.swiper-button-next {
  @include desktop {
    display: none !important;
  }
}

.swiper-button-prev2 {
  position: absolute;
  left: 20%;
}
.swiper-button-next2 {
  position: absolute;
  right: 20%;
}

.swiper-button-prev3 {
  position: absolute;
  left: 20%;
}
.swiper-button-next3 {
  position: absolute;
  right: 20%;
}

.swiper-button-prev2,
.swiper-button-next2 {
  cursor: pointer;
  @include desktop {
    display: none;
  }
}

.swiper-button-prev3,
.swiper-button-next3 {
  cursor: pointer;
  @include desktop {
    display: none;
  }
}

.swiper-btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  @include desktop {
    display: none;
  }
}
