.trailer-transportation {
  @include section-padding;
}

.main-margin {
  position: relative;
}

.border {
  // position: absolute;
  width: calc(100% - 60px);
  height: 9px;
  flex-shrink: 0;
  background: #ff4f28;
  margin-top: 39px;
  @include desktop {
    top: 38.2%;
    left: 0;
  }

  @include mobile {
    width: calc(100% - 16px);
    height: 5px;
    // top: 120px;
  }

  @include tablet {
    // top: 170px;
    height: 7px;
  }
}

.wrap {
  display: flex;
}

// trailer-transportation-features

.trailer-transportation-features {
  margin-bottom: 100px;
}

.trailer-transportation-wrap {
  margin-top: 27px;
  gap: 22px;
}

.trailer-transportation-block {
  background: #f0f0f0;
  padding: 22px 7px 21px 30px;
  max-width: 778px;
}

// trailer-types
.trailer-types {
  margin-bottom: 100px;
}

// trailer-cargo
.trailer-cargo {
  margin-bottom: 100px;
}

.trailer-cargo-wrap {
  gap: 58px;
}

.trailer-cargo-wrap-images {
  gap: 36px;
}

// xxl-logistics-trailer-services

// .xxl-logistics-trailer-services{
//   margin-bottom: 120px;
// }
