.customer-perks{
  padding-top: 91px;
  padding-bottom: 120px;
}

.customer-perks-list{
  display: flex;
  flex-direction: column;
  justify-self: unset;
  justify-content: center;
  align-items: center;
  // .item {
  //   color: #434343;
  // }
}