.key-benefits {
  padding-top: 81px;
  padding-bottom: 90px;
  background: #f0f0f0;

  @include mobile {
    padding-top: 30px;
  }
}

.key-benefits-list {
  margin-top: 23px;
  gap: 15px;

  &__item {
    padding: 30px 30px;
    background: #fff;
    min-height: auto;
  }
}

.grid-list__item-title:after {
  content: "";
  width: 100%;
  height: 2px;
}
