<section class="cargo-advantages">
  <div class="container">
    <h2 class="title cargo-advantages__title"> <strong class="highlighted-text">Головні переваги</strong> вантажних автоперевезень</h2>

    <div class="flex-left">
      <img src="./images/image1.jpg" alt="">

      <div class="all-wrap">

        <h3 class="all-wrap__subtitle">При транспортуванні вантажу найпопулярнішим видом транспорту є саме вантажні
          автівки. Вони мають таку низку
          переваг:</h3>

        <ul class="list flex-left-list">
          <li class="item flex-left-list__item">Наявність великої різноманітності автотранспорту дозволяє
            доставляти
            різноманітний вантаж: негабаритний,
            небезпечний або крихкий
          </li>
          <li class="item flex-left-list__item">Ви можете зекономити свій час, через те, що навантаженням та
            розвантаженням займаються співробітники
            логістичної компанії. Вони оформлюють потрібну документацію та зобов'язані доставити вантаж своєчасно</li>
          <li class="item flex-left-list__item">Автомобільні перевезення відбуваються досить швидко</li>
          <li class="item flex-left-list__item">
            Саме автоперевезення є досить доступними. Транспортні компанії завжди йдуть на зустріч та пропонують
            можливість збірного вантажу, що зменшує плату за перевезення
          </li>
        </ul>
      </div>
    </div>

    <div class="flex-right">
      <ul class="list flex-right-list">
        <li class="item flex-right-list__item">Завдяки сучасній навігації кожен замовник має можливість відстежувати
          свій товар, котрий
          знаходиться в
          дорозі.</li>
        <li class="item flex-right-list__item">Якщо порівнювати авто перевезення з морськими або повітряними, то вони
          є більш затратними, тому
          найчастіші
          замовники обирають саме автоперевезення.</li>

        <li class="flex-right-subtitle">
          Саме при вантажних автоперевезеннях присутня оперативність. Відправлення продукції може відбуватися в день
          замовлення. Таким чином вантаж прибуде до місця призначення досить швидко.
        </li>
      </ul>
      <img class="flex-right-img" src="./images/image2.jpg" alt="">
      <img class="flex-right-img" src="./images/image3.jpg" alt="">
    </div>
  </div>

  </div>
</section>