<footer class="footer">
  <div class="container">

    <div class="footer-main">
      <div class="footer-logo-wrap">
        <div class="logo">
          <a class="logo-link" href="home-url">
            <div class="logo-wrap">
              <h2 class="logo-wrap__title">XXL</h2>
              <img class="logo-wrap__img" src="./images/logo.svg" alt="#">
            </div>
            <h3 class="logo-wrap__subtitle">logistics</h3>
          </a>
        </div>
        <p class="copyright">© 2024 Усі права захищені</p>
      </div>

      <div class="footer-wrap">
        <ul class="footer-menu">
          <li class="footer-menu__item">
            <a href="">Вантажні перевезення по Україні</a>
          </li>
          <li class="footer-menu__item">
            <a href="">Перевезення негабаритних вантажів</a>
          </li>
          <li class="footer-menu__item">
            <a href="">Перевезення великогабаритних вантажів</a>
          </li>
          <li class="footer-menu__item">
            <a href="">Перевезення спецтехніки</a>
          </li>
          <li class="footer-menu__item">
            <a href="">Перевезення вантажів тралами</a>
          </li>
          <li class="footer-menu__item">
            <a href="">Перевезення екскаваторів</a>
          </li>
          <li class="footer-menu__item">
            <a href="">Перевезення обприскувачів</a>
          </li>
          <li class="footer-menu__item">
            <a href="">Перевезення Будівельного обладнання</a>
          </li>

          <li class="footer-menu__item">Перевезення Будівельних матеріалів</li>
          <li class="footer-menu__item">Перевезення автомобілів</li>
          <li class="footer-menu__item">Перевезення трансформаторів</li>
          <li class="footer-menu__item">Перевезення длинномерами</li>
          <li class="footer-menu__item">Перевезення сипучих вантажів</li>
          <li class="footer-menu__item">Перевезення рідких вантажів</li>
          <li class="footer-menu__item">Контейнерні перевезення</li>
        </ul>
      </div>

      <div class="footer-info">
        <nav class="nav nav-info">
          <div class="phone-popup">
            <a class="phone-popup-title" href="#form">Передзвоніть мені</a>
            <img src="./images/downdown.svg" alt="#">
          </div>

          <div class="phone-info">
            <a class="phone-number" target="_blank" href="tel:+380444456789">
              +38 (044) 445 67 89
            </a>
          </div>

          <div class="lang">
            <a class="ua" href="ua">ua</a>
            <a class="ru" href="ru">ru</a>
          </div>
        </nav>
      </div>

    </div>
  </div>
</footer>