<!-- <section class="popular-vehicles">
  <div class="container">

    <h2 class="title popular-vehicles__title">
      До <strong class="highlighted-text">найпопулярніших</strong>
      </br> вантажних автівок можна віднести:</h2>

    <div class="grid">
      <ul class="grid-list popular-vehicles-list">
        <li class="grid-list__item">
          <h3 class="grid-list__item-title">Бортові автомобілі</h3>
          <p class="grid-list__item-descr">Вони належать до найпопулярніших видів вантажного транспорту. Кузов такого
            авто має чотири відкидних бортів. Найчастіше такі автівки використовують для доставлення продуктів
            харчування.</p>
        </li>
        <li class="grid-list__item">
          <h3 class="grid-list__item-title">Вантажні автівки з фургоном</h3>
          <p class="grid-list__item-descr">Такий транспорт використовують для того, щоб безпечно довезти вантаж. Фургон
            має спеціальне покриття, котре захищає товар від променів сонця, дощу, вітру та інших несприятливих погодних
            умов. Є спеціальні фургони рефрижератори, котрі дозволяють перевозити продукцію в сприятливій температурі.
          </p>
        </li>
        <li class="grid-list__item">
          <h3 class="grid-list__item-title">Вантажівки-тягачі</h3>
          <p class="grid-list__item-descr">В залежності від виду кріплення такі автівки можуть бути причіпні та
            напівпричіпні. Їх головна особливість в тому, що вони мають досить гарну маневреність, здатні витримувати
            великі навантаження. Тягачі добре підходять для довгомірних вантажів. Напівпричіпні автівки можуть бути:
            тентованими, з цистернами або тралами.
          </p>
        </li>
        <li class="grid-list__item">
          <h3 class="grid-list__item-title">Вантажні цистерни</h3>
          <p class="grid-list__item-descr">Вони призначені для того, щоб перевозити рідкі речовини. Як правило,
            автомобіль має циліндричний кузов, котрий всередині має спеціальний захист від виникнення корозії. Є
            спеціальні моделі, котрі облаштовані таким чином, щоб зливати рідкий вантаж.
          </p>
        </li>
        <li class="grid-list__item">
          <h3 class="grid-list__item-title">Вантажівки-самоскиди</h3>
          <p class="grid-list__item-descr">Їх використовують в тих випадках, коли потрібно перевезти сипучі вантажі.
            Досить часто саме самоскиди підходять для безпечного доставлення будівельних матеріалів, продукції
            сільського господарства, обладнання. Самоскиди облаштовані функцією автоматичного вивантаження.
          </p>
        </li>
        <li class="grid-list__item">
          <h3 class="grid-list__item-title">Платформи</h3>
          <p class="grid-list__item-descr">Є досить велика кількість вантажу, котрий є негабаритним або досить тяжким. В
            таких випадках можна для транспортування використовувати саме платформи. Вони можуть витримати навантаження
            до 200 тонн.
          </p>
        </li>
      </ul>
    </div>

  </div>
</section> -->

<section class="popular-vehicles">
  <div class="container">

    <h2 class="title popular-vehicles__title">
      До <strong class="highlighted-text">найпопулярніших</strong>
      </br> вантажних автівок можна віднести:</h2>

    <div class="grid">
      <div class="swiper-container2">
        <ul class="grid-list popular-vehicles-list swiper-wrapper">
          <li class="grid-list__item swiper-slide">
            <h3 class="grid-list__item-title">Бортові автомобілі</h3>
            <p class="grid-list__item-descr">Вони належать до найпопулярніших видів вантажного транспорту. Кузов такого
              авто має чотири відкидних бортів. Найчастіше такі автівки використовують для доставлення продуктів
              харчування.</p>
          </li>
          <li class="grid-list__item swiper-slide">
            <h3 class="grid-list__item-title">Вантажні автівки з фургоном</h3>
            <p class="grid-list__item-descr">Такий транспорт використовують для того, щоб безпечно довезти вантаж.
              Фургон
              має спеціальне покриття, котре захищає товар від променів сонця, дощу, вітру та інших несприятливих
              погодних
              умов. Є спеціальні фургони рефрижератори, котрі дозволяють перевозити продукцію в сприятливій температурі.
            </p>
          </li>
          <li class="grid-list__item swiper-slide">
            <h3 class="grid-list__item-title">Вантажівки-тягачі</h3>
            <p class="grid-list__item-descr">В залежності від виду кріплення такі автівки можуть бути причіпні та
              напівпричіпні. Їх головна особливість в тому, що вони мають досить гарну маневреність, здатні витримувати
              великі навантаження. Тягачі добре підходять для довгомірних вантажів. Напівпричіпні автівки можуть бути:
              тентованими, з цистернами або тралами.
            </p>
          </li>
          <li class="grid-list__item swiper-slide">
            <h3 class="grid-list__item-title">Вантажні цистерни</h3>
            <p class="grid-list__item-descr">Вони призначені для того, щоб перевозити рідкі речовини. Як правило,
              автомобіль має циліндричний кузов, котрий всередині має спеціальний захист від виникнення корозії. Є
              спеціальні моделі, котрі облаштовані таким чином, щоб зливати рідкий вантаж.
            </p>
          </li>
          <li class="grid-list__item swiper-slide">
            <h3 class="grid-list__item-title">Вантажівки-самоскиди</h3>
            <p class="grid-list__item-descr">Їх використовують в тих випадках, коли потрібно перевезти сипучі вантажі.
              Досить часто саме самоскиди підходять для безпечного доставлення будівельних матеріалів, продукції
              сільського господарства, обладнання. Самоскиди облаштовані функцією автоматичного вивантаження.
            </p>
          </li>
          <li class="grid-list__item swiper-slide">
            <h3 class="grid-list__item-title">Платформи</h3>
            <p class="grid-list__item-descr">Є досить велика кількість вантажу, котрий є негабаритним або досить тяжким.
              В
              таких випадках можна для транспортування використовувати саме платформи. Вони можуть витримати
              навантаження
              до 200 тонн.
            </p>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next2"></div>
        <div class="swiper-button-prev2"></div>
      </div>
    </div>

  </div>
</section>