<section class="transport-services">
  <div class="container">
    <h2 class="title transport-services__title">Які послуги можна замовити в <strong
        class="highlighted-text">транспортній компанії?</strong>
    </h2>

    <div class="all-wrap">
      <h3 class="all-wrap__title">Для того, щоб кожен замовник міг замовити потрібні перевезення, логістична компанія
        «XXL logistics» надає такий ряд послуг:</h3>

      <ul class="list transport-services-list">
        <li class="item transport-services-list__item">Допомога в переїзді. Компанія допомагає завантажити речі, тяжкі
          меблі та інше. Доставлення до місця призначення відбувається своєчасно та без затримок, при необхідності
          фахівці розвантажать речі. Працівники підберуть потрібний вид транспорту, який підійде за вантажем та
          габаритами. </li>
        <li class="item transport-services-list__item">Вантажоперевезення негабаритних предметів. Компанія «XXL
          logistics» на постійній основі займається доставленням та перевезенням негабаритних товарів, як у межах
          України, так і Європи. Співпрацює з великою кількістю компаній, котрі займаються промисловою діяльністю,
          будівництвом тощо та допомагає з доставкою потрібного обладнання, інструментів.</li>
        <li class="item transport-services-list__item">Доставлення збірних вантажів. Якщо ви є приватною особою, та вам
          потрібно доставити вантаж, котрий не займає багато місця, то в такому випадку ви можете замовити збірні
          перевезення. Така доставка передбачає, що в одній автівці відбувається перевезення декількох товарів від
          різних замовників. Така послуга надає можливість зекономити кошти, та не оплачувати повністю доставлення, а
          частково разом з іншими замовниками.</li>
        <li class="item transport-services-list__item">Перевезення сипучих товарів.</li>
        <li class="item transport-services-list__item">Доставлення товарів, що б'ються. Якщо товар швидко б'ється та є
          крихким, то в такому випадку обов'язково потрібно повідомляти про це перевізникам. Щоб продукція не
          пошкодилась водій буде їхати більш надійним шляхом, та весь товар буде надійно, додатково запакований.</li>
        <li class="item transport-services-list__item">Перевезення продуктів харчування. Є перелік продукції, котру
          потрібно доставляти при певній температурі інакше вони зможуть зіпсуватися. В такому випадку фахівці
          підбирають спеціальний транспорт, рефрижератор, котрий дозволяє безпечно привезти харчові продукти.</li>
        <li class="item transport-services-list__item">Доставлення різноманітних товарів. Логістична компанія «XXL
          logistics» займається перевезенням товарів будь-якої величини. Таким чином кожен клієнт може замовити
          перевезення будь-якого товару незалежно від його ваги або розміру.</li>
      </ul>
    </div>

    <div class="transport-services-gallery">
      <div class="services-gallery-wrap">
        <picture>

          <source media="(max-width: 767px)" srcset="./images/transport-services-mobile.png">

          <source media="(min-width: 768px)" srcset="./images/transport-services.png">

          <img class="services-gallery" src="./images/transport-services.png" alt="transport-services">
        </picture>

      </div>
    </div>

    <h4 class="transport-services-sub">Також ви можете замовити постійні транспортні послуги. Якщо ваша компанія
      займається торгівлею або іншою діяльністю, котра передбачає часту доставку, в такому випадку компанія “ “ пропонує
      свої послуги на постійній основі, котрі оформлюються у вигляді контракту. При зверненні обов'язково вказуйте, який
      вид доставлення вам необхідний, в межах України чи в країни Європейського Союзу.</h4>
  </div>
</section>