<section class="why-choose-us">
  <div class="container">

    <h2 class="title why-choose-us__title">Чому варто звернутися саме </br> <strong class="highlighted-text">до нас?</strong></h2>

    <div class="wrap-wrap">

      <div class="why-choose-us__container">

        <p class="why-choose-us-wrap-descr">Замовити потрібні вантажні перевезення по Україні та країнах Європи, можна в
          нашій логістичній компанії «XXL
          logistics». Фахівці транспортної компанії підберуть найоптимальніший вид транспорту, котрий підійде саме для
          вашого вантажу та місцевості.
          </br></br>
          Зробити замовлення логістичних послуг можуть, як юридичні, так і фізичні особи. Для кожного клієнта фахівці
          знаходять індивідуальний підхід, та враховують всі його побажання. Налагоджена комунікація дозволяє відразу
          зрозуміти та взяти до уваги всі вимоги замовника.
        </p>

        <div class="all-wrap why-choose-us-advantages">

          <h3 class="why-choose-us-advantages__title">Логістична компанія «XXL logistics» має ряд таких переваг:</h3>

          <ul class="list why-choose-us-list">
            <li class="item why-choose-us-list__item">В своєму авопарку є велика кількість різноманітного вантажного
              автотранспорту, що дозволяє займатися перевезенням будь-яких товарів незалежно від їх ваг та параметрів
            </li>
            <li class="item why-choose-us-list__item">Компанія бере на себе відповідальність за підготовку потрібної
              документації, перевірки та своєчасного доставлення вантажу, а також готує необхідну документацію для
              проходження митниці</li>
            <li class="item why-choose-us-list__item">Наявність власного кол-центру. Ви завжди зможете дізнатися де саме
              знаходиться ваш товар територіально, так як за кожним замовником закріплений особистий менеджер, який
              зможе
              відповісти на всі питання стосовно вашого замовлення</li>
            <li class="item why-choose-us-list__item">Гнучка цінова політика</li>
            <li class="item why-choose-us-list__item">Замовлення виконуються в строк без затримань</li>
            <li class="item why-choose-us-list__item">Доставлення відбуваються в будь-яку країну Європи</li>
          </ul>
        </div>

      </div>

      <div class="form" id="form">
        <div class="logo">
          <a href="/" class="logo-link">
            <div class="logo-wrap">
              <h2 class="logo-wrap__title">XXL</h2>
              <img class="logo-wrap__img" src="./images/streamline_shipping-truck-solid.svg" alt="">
            </div>
            <h3 class="logo-wrap__subtitle">logistics</h3>
          </a>

          <h3 class="form-descr">
            Оформити логістичні послуги можна зателефонувавши до компанії або заповнивши форму на
            сайті, тоді фахівці зв'яжуться в потрібний для вас час. </h3>
        </div>
        <form action="#">
          <input class="form-input" type="text" name="text" id="" placeholder="Введіть ім'я">
          <input class="form-input" type="tel" name="tel" id="" placeholder="Введіть номер телефону">
          <button class="btn why-choose-us-btn">
            Відправити
            <svg class="svg" width="43" height="42" viewBox="0 0 43 42" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <circle cx="21.5" cy="21" r="21" fill="white" fill-opacity="0.28" />
              <path
                d="M18.6655 27.6675C18.4931 27.6677 18.3224 27.6338 18.1632 27.5678C18.0039 27.5018 17.8593 27.405 17.7376 27.2829L12.6976 22.2429C12.5722 22.1219 12.4722 21.977 12.4034 21.8169C12.3346 21.6568 12.2984 21.4846 12.2969 21.3103C12.2954 21.136 12.3286 20.9632 12.3946 20.8019C12.4606 20.6406 12.5581 20.494 12.6813 20.3708C12.8045 20.2476 12.9511 20.1501 13.1124 20.0841C13.2737 20.0181 13.4465 19.9849 13.6208 19.9864C13.7951 19.9879 13.9673 20.0241 14.1274 20.0929C14.2875 20.1617 14.4324 20.2617 14.5534 20.3871L18.6655 24.4991L28.4476 14.7171C28.6951 14.478 29.0266 14.3457 29.3708 14.3487C29.7149 14.3517 30.0441 14.4897 30.2875 14.7331C30.5308 14.9764 30.6688 15.3056 30.6718 15.6497C30.6748 15.9939 30.5425 16.3254 30.3034 16.5729L19.5934 27.2829C19.4717 27.405 19.3271 27.5018 19.1678 27.5678C19.0086 27.6338 18.8379 27.6677 18.6655 27.6675Z"
                fill="currentColor" />
            </svg>
          </button>
        </form>
      </div>

    </div>

  </div>
</section>