.car-transportation {
  @include section-padding;
}

// .car-transport-benefits
.car-transport-benefits {
  .oversized-cargo-transport-list {
    gap: 23px;
  }
}

// car-carrier-advantages
.car-carrier-advantages {
  .wrap {
    gap: 17px;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }

    @include tablet {
      flex-direction: column;
    }
  }
}

// car-transport-cost

.car-transport-cost {
  .wrap {
    gap: 48px;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }

    @include tablet {
      flex-direction: column;
    }

    .descr {
      margin-bottom: 50px;
    }
  }
}

// professional-car-transport-benefits

.professional-car-transport-benefits {
  // margin-bottom: 100px;
}
