<section class="pricing-factors">
  <div class="container">
    <p class="pricing-factors-descr">Сьогодні велика кількість компаній має потребу у своєчасному відправленні та
      доставленні товару, не тільки в межах України, але й Європи. Для того, щоб вантаж був доставлений безпечно та в
      потрібний час варто прокласти безпечний маршрут, а також підібрати відповідне вантажне авто. Саме тому вантажні
      перевезення варто замовляти в міжнародній логістичній компанії, де фахівці можуть розрахувати та вибрати
      найшвидший
      маршрут для доставлення вантажу. </p>

    <div class="pricing-factors-container">

      <div class="pricing-factors-wrap">

        <h3 class="pricing-factors__title">На вартість перевезень буде впливати багато факторів до яких можна
          віднести:
        </h3>

        <ul class="list pricing-factors-list">
          <li class="item pricing-factors-list__item">Відстань, котру повинно проїхати авто</li>
          <li class="item pricing-factors-list__item">Вид вантажу, наприклад перевезення товару, що б'ється буде коштувати дорожче</li>
          <li class="item pricing-factors-list__item">Вид вантажного авто</li>
          <li class="item pricing-factors-list__item">Потреба в додатковому обладнанні</li>
          <li class="item pricing-factors-list__item">Iнші доповнювальні послуги від логістичної компанії</li>
        </ul>

      </div>

      <div class="wrap-pricing-img">
        <img class="pricing-img" src="./images/pricing-img.jpg" alt="#">
      </div>

    </div>

    <p class="pricing-factors-down">
      Для того, щоб клієнт мав можливість отримати остаточну вартість перевезень, варто звернутися до менеджерів
      міжнародної логістичної компанії, котрі зроблять точні розрахунки по кінцевій вартості доставки вантажу.
    </p>

    <p class="pricing-factors-down">
      Потреби у вантажних перевезеннях можуть бути не тільки у великих компаніях, але й фізичних осіб, тому
      транспортування товарів завжди має попит. Досить важливо звертатися до перевіреної транспортної компанії, щоб
      не
      потрапити у ситуацію, коли речі у дорозі пошкодилися або були доставленні несвоєчасно. Це може призвести до
      збитків.</p>
  </div>
</section>