<section class="eu-cargo-trends">
  <div class="container">
    <h2 class="title">Яку продукцію найчастіше транспортують в країни Європи?</h2>
    <div>

      <p class="descr">
        Сьогодні безліч компаній співпрацюють з європейськими виробниками та постачальниками, що потребує постійного
        транспортування товарів як в Європу, так і з Європи в України. Послуги надійної транспортної компанії допоможуть
        вам налагодити постачання вантажу без затримання на митниці.
      </p>

    </div>

    <p class="descr">Найчастіше із-за кордону ввозять такий тип продукції:</p>
    <ul class="list eu-cargo-trends-list">
      <div>
        <li class="item">
          <p class="grid_descr -black">Харчові продукти</p>
        </li>
        <li class="item">
          <p class="grid_descr -black">Хімічні та миючі засоби</p>
        </li>
        <li class="item">
          <p class="grid_descr -black">Одяг та взуття</p>
        </li>
        <li class="item">
          <p class="grid_descr -black">Техніку</p>
        </li>
        <li class="item">
          <p class="grid_descr -black">Будівельні матеріали</p>
        </li>
        <li class="item">
          <p class="grid_descr -black">Електроніку</p>
        </li>
        <li class="item">
          <p class="grid_descr -black">Медикаменти</p>
        </li>
        <li class="item">
          <p class="grid_descr -black">Різноманітне обладнання</p>
        </li>
        <li class="item">
          <p class="grid_descr -black">Різноманітне обладнання</p>
        </li>
      </div>

      <div>
        <img src="./images/eu-cargo-trends.png" alt="">
      </div>

    </ul>
    <p class="descr">Крім цієї групи товарів також дуже часто транспортуються негабаритні та небезпечні вантажі. Для
      другої категорії потрібен не тільки спеціальний транспорт, але й дозвіл на ввіз.</p>

  </div>
</section>