<section class="euro-shipment-problems">
  <div class="container">
    <h2 class="title2">
      Які проблеми можуть виникнути при доставленні продукції в Європу?
    </h2>

    <h3 class="title-medium mg-top39">
      Міжнародні вантажні перевезення потребують особливого приготування, інакше можуть виникнути такі складності:
    </h3>

    <ul class="list euro-shipment-problems-list">
      <li class="item euro-shipment-problems-list__item -black">
        Невірний маршрут. Якщо при складанні маршруту буде допущено помилку,
        то це може призвести до того, що товар затримається в дорозі або перевізник отримає штраф.
      </li>
      <li class="item euro-shipment-problems-list__item -black">
        Технічний стан вантажівок. Наявність будь-яких, навіть незначних
        несправностей, може призвести до того, що транспорт потрапить в аварію або вантаж буде пошкодженим в дорозі.
      </li>
      <li class="item euro-shipment-problems-list__item -black">
        Оформлення відповідної документації. Уникнути затримки вантажу можна
        тільки у разі ретельної підготовки документації. Транспорт повинен мати всі документи, які підтверджують його
        справність та безпечність. Займатися оформленням документів потрібно до початку перевезень, щоб уникнути
        складностей та непорозумінь на митниці.
      </li>
    </ul>

    <p class="descr mg-top30">
      Зменшити ризики виникнення будь-яких проблем при транспортуванні вантажів, допоможе перевірена транспортна
      компанія.
    </p>

  </div>
</section>