<section class="key-benefits">
  <div class="container">

    <h2 class="title">Міжнародні перевезення від логістичної компанії «XXL logistics»</h2>
    <p class="descr">Наша компанія вже протягом багатьох років займається не тільки перевезеннями по Україні, але й
      країнами Європи. Всі спеціалісти мають багатий досвід роботи та постійно підвищують свій рівень знань в цій
      сфері.  Ми піклуємося про безпечність вантажу кожного нашого замовника, тому маємо великий автопарк, котрий
      дозволяє доставляти різноманітний вантаж.</p>

    <div class="grid">
      <div class="swiper-container2">

        <p class="descr">До головних наших переваг можна віднести:</p>

        <ul class="grid-list key-benefits-list swiper-wrapper">
          <li class="grid-list__item swiper-slide">
            <h3 class="grid-list__item-title">Швидке оброблення замовлень</h3>
            <p class="grid-list__item-descr">Наші менеджери завжди швидко приймають замовлення, тому вам не потрібно
              буде довго чекати, щоб отримати логістичні послуги.</p>
          </li>
          <li class="grid-list__item swiper-slide">
            <h3 class="grid-list__item-title">Індивідуальний підхід до кожного клієнта</h3>
            <p class="grid-list__item-descr">Спеціалісти враховують особливості вантажу та підбирають найбезпечніший тип
              автотранспорту.</p>
          </li>

          <li class="grid-list__item swiper-slide">

            <h3 class="grid-list__item-title">Допомога в приготуванні документації</h3>
            <p class="grid-list__item-descr">Всі наші фахівці знають митні правила та завжди в курсі всіх змін. Це
              дозволяє уникати штрафів при проходженні митного контролю.</p>

          </li>
          <li class="grid-list__item swiper-slide">
            <h3 class="grid-list__item-title">Своєчасне доставлення продукції</h3>
            <p class="grid-list__item-descr">
              Розробка декількох маршрутів дозволяє навіть при непередбачуваних обставинах доставляти товар на місце
              призначення без затримок.
            </p>
          </li>
          <li class="grid-list__item swiper-slide">
            <h3 class="grid-list__item-title">Страхування вантажу</h3>
            <p class="grid-list__item-descr">
              Ми забезпечуємо страхування вантажу, тому ви можете бути спокійними за його цілісність.
            </p>
          </li>
          <li class="grid-list__item swiper-slide">
            <h3 class="grid-list__item-title">Можливість контролю вантажу замовником</h3>
            <p class="grid-list__item-descr">
              За кожним клієнтом закріплений менеджер, який завжди в курсі місцезнаходження автівки, яка транспортує
              продукцію.
            </p>
          </li>
        </ul>
      </div>
      <div class="swiper-btn-container">
        <div class="swiper-pagination2">
          <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
            <circle cx="5.5" cy="5.5" r="5.5" fill="#F0F0F0" />
          </svg>
        </div>
        <div class="swiper-button-next2">
          <img src="./images/arrow-right.png" alt="">
        </div>
        <div class="swiper-button-prev2">
          <img src="./images/arrow-left.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>