<section class="road-transport-features">
  <div class="container">
    <h2 class="title"> Особливості та переваги автоперевезення вантажу з Європи </h2>

    <div class="road-transport-features-wrap">
      <ul class="list road-transport-features-list">
        <li class="item -black">Доставлення відбувається з використанням єврофур, які належать до магістральних
          вантажівок та
          відповідають
          європейським стандартам. Це є обов'язковою умовою, так як перетинати кордон не можуть застарілі транспортні
          засоби
        </li>
        <li class="item -black">Сучасні вантажні авто мають спеціальне оснащення, котре дозволяє максимально
          оптимізувати увесь
          процес
          завантаження та вивантаження. Така особливість дозволяє зберегти вантаж від пошкодження під час завантаження,
          перевезення, так і після прибуття авто до пункту призначення
        </li>
        <li class="item -black">Транспортування вантажів в Європу з України відбувається за певними документами, до
          головних
          відноситься
          міжнародна накладна CMR. На її основі складаються митні декларації, котрі слугують дозволом для перетину
          кордону
        </li>
        <li class="item -black">Перевезення речей та товарів з використанням автотранспорту надає можливість
          транспортній
          компанії
          заздалегідь скласти максимально короткий та безпечний маршрут. Що в свою чергу значно скорочує час у дорозі та
          дозволяє зробити транспортування продукції більш акуратно, якісно та надійно
        </li>
      </ul>
      <p class="descr">Скориставшись послугами нашої компанії «XXL logistics» ви можете бути впевненими, що отримаєте
        відмінний сервіс доставки вантажу.</p>
    </div>
    <div class="road-transport-features-images" style="display: flex;">
      <img src="./images/road-transport-features-1.jpg" alt="#" />
      <img src="./images/road-transport-features-2.jpg" alt="#" />
    </div>

  </div>
</section>