<section class="transport-options-ukraine">
  <div class="container">
    <h2 class="title2">Який транспорт можна замовити для перевезення вантажу по Україні?</h2>

    <p class="descr mg-top30">Існує велике різноманіття автотранспорту, який використовують для того, щоб транспортувати
      вантажі. Всі автомобілі відрізняються технічними характеристиками та можливістю доставляти вантаж певних розмірів.
      Саме тому, перед тим як замовити логістичні послуги варто визначитись з тим, який саме товар потрібно
      транспортувати та в якій кількості.</p>

    <h3 class="title-medium mg-top30">До автотранспорту, який має великий попит можна віднести:</h3>

    <ul class="our-fleet-list mg-top30">
      <li class="">
        <a href="#" class="our-fleet-list__wrap">
          <img class="-img" src="./images/cargo/1.jpg" alt="#" />
          <p class="our-fleet-list__wrap-descr">Вантажівки-самоскиди</p>
        </a>
        <p class="descr" style="width: 367px;">Захистити вантаж від пошкоджень та несприятливих погодних умов допоможе автівка з фургоном.
          Спеціальне покриття є досить міцним, його не може зірвати вітер, тому воно добре забезпечує захист товарів.
        </p>
      </li>
      <li class="">
        <a href="#" class="our-fleet-list__wrap">
          <img class="-img" src="./images/cargo/2.jpg" alt="#" />
          <p class="our-fleet-list__wrap-descr">Цистерни</p>
        </a>
      </li>
      <li class="">
        <a href="#" class="our-fleet-list__wrap">
          <img class="-img" src="./images/cargo/3.jpg" alt="#" />
          <p class="our-fleet-list__wrap-descr">Платформи</p>
        </a>
      </li>
      <li class="">
        <a href="#" class="our-fleet-list__wrap">
          <img class="-img" src="./images/cargo/4.jpg" alt="#" />
          <p class="our-fleet-list__wrap-descr">Автівки з фургоном</p>
        </a>
      </li>
      <li class="">
        <a href="#" class="our-fleet-list__wrap">
          <img class="-img" src="./images/cargo/5.jpg" alt="#" />
          <p class="our-fleet-list__wrap-descr">Рефрижератори</p>
        </a>
      </li>
      <li class="">
        <a href="#" class="our-fleet-list__wrap">
          <img class="-img" src="./images/cargo/6.jpg" alt="#" />
          <p class="our-fleet-list__wrap-descr">Бортові автомобілі</p>
        </a>
      </li>

      <li class="">
        <a href="#" class="our-fleet-list__wrap">
          <img class="-img" src="./images/cargo/7.jpg" alt="#" />
          <p class="our-fleet-list__wrap-descr">Тягачі</p>
        </a>
      </li>
      <img class="our-fleet-list__item-img" src="./images/cargo/logo-xxl.png" alt="#" />
    </ul>

    <p class="descr mg-top30">
      Самостійно визначити, який саме вантажний автомобіль підійде для перевезень, буває досить складно, бо кожен вантаж
      має свої особливості. Тому варто звертатися до логістичної компанії, де фахівці зможуть вибрати необхідний
      маршрут, а також вид автотранспорту.  
    </p>

  </div>
</section>