.customer-perks {
  padding-top: 91px;
  padding-bottom: 120px;

  @include mobile {
    padding-top: 30px;
    padding-bottom: 0px;
  }

  @include tablet {
    padding-top: 30px;
  }

  .btn {
    margin: 50px auto;
    width: 334px;

    @include mobile {
      width: 100%;
    }
  }
}

.customer-perks-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
