.eu-freight-pricing {
  padding-bottom: 91px;

  .btn {
    align-items: center;
    justify-content: center;
    width: 334px;
    margin: 50px auto 0 auto;

    @include mobile {
      width: auto;
    }
  }

  @include mobile {
    padding-bottom: 30px;
  }

  @include tablet {
    padding-bottom: 30px;
  }
}

.eu-freight-pricing-list {
  margin-top: 20px;
  display: flex;
  gap: 49px;

  @include mobile {
    flex-direction: column;
    gap: 15px;
  }

  @include tablet {
    flex-direction: column;
  }

  &__item {
    background: #f0f0f0;
    padding: 20px 47px;
    width: 407px;
    height: auto;
    position: relative;

    @include mobile {
      width: auto;
    }

    @include tablet {
      width: auto;
    }

    &::before {
      content: "";
      background-image: url("../images/down-why-choose.png");
      background-size: contain;
      width: 17px;
      height: 17px;
      position: absolute;
      left: 20px;
      top: 24px;
      margin-right: 10px;
    }

    &__descr {
      color: #434343;
      font-family: Roboto-light;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 1.35;

      @include mobile {
        font-size: 15px;
      }

      b {
        font-family: Roboto-medium;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.35;

        @include mobile {
          font-size: 16px;
        }
      }
    }
  }
}
