.euro-shipment-problems {
  padding-bottom: 100px;

  @include mobile {
    padding-bottom: 30px;
  }
}

.euro-shipment-problems-list {
  gap: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
