.key-benefits {
  padding-bottom: 90px;
  // margin-bottom: 120px;
  background: #f0f0f0;

  .btn {
    margin: 50px auto 0px;
  }

  @include mobile {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include tablet {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.key-benefits-list {
  margin-top: 23px;
  gap: 15px;

  @include mobile {
    gap: 0px;
  }

  @include tablet {
    gap: 0px;
  }

  &__item {
    padding: 30px 30px;
    background: #fff;
    min-height: auto;
  }
}

.grid-list__item-title:after {
  content: "";
  width: 100%;
  height: 2px;
}
