.europe-freight-transport {
  padding-top: 71px;

  @include mobile {
    padding-top: 30px;
    margin-top: 76px;
  }
}

.wrap-transport {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 9px;
    flex-shrink: 0;
    background: $color-accent;
    margin-top: 39px;
    display: block;

    @include mobile {
      width: 100%;
      height: 5px;
      margin-top: 10px;
    }
  }
}

.wrap-transport-down {
  margin-top: 78px;

  @include mobile {
    margin-top: 36px;
  }
}
