.europe-freight-transport {
  @include section-padding;

  @include mobile {
    padding-top: 30px;
    margin-top: 76px;
  }
}

.wrap-transport-down {
  margin-top: 78px;

  @include mobile {
    margin-top: 36px;
  }
}
