<section class="eu-cargo-trends">
  <div class="container">
    <h2 class="title2">Яку продукцію найчастіше транспортують в країни Європи?</h2>

    <div>
      <p class="descr mg-top39">
        Сьогодні безліч компаній співпрацюють з європейськими виробниками та постачальниками, що потребує постійного
        транспортування товарів як в Європу, так і з Європи в України. Послуги надійної транспортної компанії допоможуть
        вам налагодити постачання вантажу без затримання на митниці.
      </p>

      <h3 class="title-medium mg-top30">Найчастіше із-за кордону ввозять такий тип продукції:</p>
    </div>

    <ul class="list eu-cargo-trends-list">
      <div>
        <li class="item">
          <p class="item__descr -black">Харчові продукти</p>
        </li>
        <li class="item">
          <p class="item__descr -black">Хімічні та миючі засоби</p>
        </li>
        <li class="item">
          <p class="item__descr -black">Одяг та взуття</p>
        </li>
        <li class="item">
          <p class="item__descr -black">Техніку</p>
        </li>
        <li class="item">
          <p class="item__descr -black">Будівельні матеріали</p>
        </li>
        <li class="item">
          <p class="item__descr -black">Електроніку</p>
        </li>
        <li class="item">
          <p class="item__descr -black">Медикаменти</p>
        </li>
        <li class="item">
          <p class="item__descr -black">Різноманітне обладнання</p>
        </li>
        <li class="item">
          <p class="item__descr -black">Різноманітне обладнання</p>
        </li>
      </div>

      <div class="eu-cargo-trends-image">
        <img src="./images/eu-cargo-trends.png" alt="">
      </div>

    </ul>

    <div class="eu-cargo-trends-image-mobile">
      <img src="./images/eu-cargo-trends.png" alt="">
    </div>

    <p class="descr mg-top30">Крім цієї групи товарів також дуже часто транспортуються негабаритні та небезпечні
      вантажі. Для
      другої категорії потрібен не тільки спеціальний транспорт, але й дозвіл на ввіз.</p>

  </div>
</section>