.cargo-features {
  padding-top: 91px;
  margin-bottom: 120px;

  @include mobile {
    padding-top: 51px;
    margin-bottom: 60px;
  }

  &__title {
    margin-bottom: 39px;

    br {
      display: none;
    }
  }
}

.cargo-features-container {
  border: 2px solid $color-accent;
  padding: 40px 25px;

  .cargo-features-descr {
    color: $secondary-color;

    font-family: $font-roboto-light;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.35;
  }
}

.cargo-features-wrap {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
  }

  .cargo-features-descr {
    width: 100%;
    padding-right: 22px;
  }
}

.cargo-features-btn {
  min-width: 334px;
  height: 64px;
  display: flex;
  justify-content: space-between;

  @include mobile {
    display: none;
  }

  @include tablet {
    display: none;
  }
}


.mobile-btn{
  width: 100%;
  height: 64px;
  margin-top: 30px;
  @include desktop {
    display: none;
  }
}