.our-fleet {
  &__title {
    margin-top: 100px;
    margin-bottom: 40px;

    @include mobile {
      margin-top: 60px;
      margin-bottom: 15px;
    }
    @include tablet {
      margin-top: 60px;
      margin-bottom: 15px;
    }
  }

  &__descr {
    color: $secondary-color;
    font-family: $font-roboto-light;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.35;
    margin-bottom: 40px;

    @include mobile {
      font-size: 15px;
    }
  }
}

.our-fleet-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 49px;

  @include mobile {
    gap: 16px;
  }

  @include tablet {
    gap: 30px;
  }

  &__wrap {
    position: relative;

    &-descr {
      position: absolute;
      bottom: 0;
      right: 0;
      background: $primary-color;
      width: 166px;
      height: 35px;
      padding: 6px 12px 5px 19px;
      margin-bottom: 15px;

      color: $white-color;
      font-family: $font-roboto-light;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 1.35;

      @include mobile {
        width: 100%;
        text-align: right;
        font-size: 15px;
        margin-bottom: 0;

        padding: 5px 12px 0px 0px;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -15px;
        background: $color-accent;
        width: 100%;
        height: 15px;

        @include mobile {
          width: 100%;
          height: 6px;
          flex-shrink: 0;
          bottom: 0;
        }
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: calc(100% / 4 - 49px);

    &-img {
      max-width: 100%;
      display: block;
    }

    @include mobile {
      width: calc(100% / 2 - 30px);
    }

    @include tablet {
      width: calc(100% / 3 - 30px);
    }
  }
}

.title {
  color: $secondary-color;
  font-family: $font-getvoip;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;

  @include mobile {
    font-size: 20px;
  }

  @include tablet {
    font-size: 30px;
  }
}

.our-fleet-btn {
  margin: 50px auto;
  width: 334px;
  height: 64px;
  flex-shrink: 0;

  @include mobile {
    width: auto;
  }
}

.our-fleet-text {
  width: 293px;
  color: $secondary-color;
  font-family: $font-roboto-light;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.35;

  @include mobile {
    font-size: 15px;
    width: auto;
  }
}
