.popular-vehicles {
  padding-top: 111px;
  padding-bottom: 120px;
  background: #191919;

  &__title {
    color: white;
    margin-bottom: 39px;
  }
}

.grid-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  &__item {
    min-height: 167px;
    height: auto;
    flex-shrink: 0;
    background: #fff;
    padding: 30px 30px;

    &-title {
      color: #434343;
      font-family: Roboto-medium;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.35;
      position: relative;
      margin-bottom: 12px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 263px;
        height: 3px;
        flex-shrink: 0;
        background: #ff4f28;
        display: block;
        bottom: -6px;
        
        @include mobile {
          width: 100%;
        }
      }
    }

    &-descr {
      color: #434343;
      font-family: $font-roboto-light;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 1.35;
    }

    &:last-child {
      border-right: 10px solid #ff4f28;
      border-bottom: 10px solid #ff4f28;
    }
  }
}
