.popular-vehicles {
  padding-top: 111px;
  padding-bottom: 120px;
  background: $primary-color;

  @include mobile {
    padding-top: 31px;
    padding-bottom: 40px;
  }

  &__title {
    color: white;
    margin-bottom: 39px;

    @include mobile {
      margin-bottom: 24px;
    }
  }
}

.grid-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  @include mobile {
    flex-direction: row;
    // align-items: stretch;
    gap: 0;
  }

  @include tablet {
    flex-direction: row;
    // align-items: stretch;
    gap: 0;
  }

  &__item {
    cursor: pointer;
    min-height: 167px;
    height: auto;
    flex-shrink: 0;
    background: $white-color;
    padding: 30px 30px;

    &-title {
      color: $secondary-color;
      font-family: Roboto-medium;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.35;
      position: relative;
      margin-bottom: 12px;

      @include mobile {
        font-size: 16px;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 263px;
        height: 3px;
        flex-shrink: 0;
        background: $color-accent;
        display: block;
        bottom: -6px;

        @include mobile {
          width: 100%;
          width: 211px;
        }
      }
    }

    &-descr {
      color: $secondary-color;
      font-family: $font-roboto-light;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 1.35;

      @include mobile {
        font-size: 15px;
      }
    }

    &:last-child {
      border-right: 10px solid $color-accent;
      border-bottom: 10px solid $color-accent;

      @include mobile {
        border-width: 5px;
      }
    }
  }
}
