.pricing-factors {
  padding-top: 100px;
  padding-bottom: 100px;

  &__title {
    margin-bottom: 20px;
  }

  .item {
    color: #434343;
  }
}

.pricing-factors-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
  }
}

.pricing-img {
  @include mobile {
    width: 100vw;
  }
}

.pricing-factors-container {
  color: #434343;
  font-family: Roboto-medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.35;
  margin-top: 34px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
  }
}

.pricing-factors-descr {
  color: #434343;
  font-family: $font-roboto-light;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.35;
}

.pricing-factors-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include mobile {
    margin-bottom: 20px;
  }
  @include tablet {
    margin-bottom: 20px;
  }
}

.pricing-factors-down {
  color: #434343;
  font-family: $font-roboto-light;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.35;
  margin-top: 26px;
  margin-bottom: 20px;
}
