.pricing-factors {
  padding-top: 100px;
  padding-bottom: 100px;

  @include mobile {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 18px;

    @include mobile {
      font-size: 16px;
    }
  }
}

.pricing-factors-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
  }
}

.pricing-img {
  @include mobile {
    width: 100vw;
  }
}

.pricing-factors-container {
  color: $secondary-color;
  font-family: $font-roboto-medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.35;
  margin-top: 34px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
  }
}

.pricing-factors-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include mobile {
    margin-bottom: 20px;
  }
  @include tablet {
    margin-bottom: 20px;
  }
}

.pricing-factors-down {
  margin-top: 26px;
}
