.transport-services {
  padding-top: 100px;
  padding-bottom: 100px;
  background: $primary-color;

  @include mobile{
    padding-top: 30px;
    padding-bottom: 40px;
  }

  &__title {
    color: $white-color !important;
  }

  .all-wrap {
    display: flex;
    flex-direction: column;

    &__title {
      color: $white-color;
      font-family: Roboto-medium;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.35;
      margin: 39px 0 30px 0;

      @include mobile {
        font-size: 16px;
      }
    }
  }
}

.transport-services-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.transport-services-gallery {
  margin-top: 49px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    flex-direction: column;
  }
}

.transport-services-sub {
  color: $white-color;
  font-family: $font-roboto-light;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.35;
  margin-top: 30px;

  @include mobile {
    font-size: 15px;
  }
}

.services-gallery-wrap {
  position: relative;
}
