.why-choose-us {
  padding-top: 111px;
  padding-bottom: 120px;
  background: $primary-color;

  @include mobile {
    padding-top: 31px;
    padding-bottom: 24px;
  }

  @include tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .wrap-wrap {
    display: flex;
    align-items: center;
    @include mobile {
      flex-direction: column;
    }

    @include tablet {
      flex-direction: column;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 51px;

    @include mobile {
      margin-top: 0px;
      padding-right: 0px;
    }
  }

  &__title {
    color: $white-color;
    font-family: $font-getvoip;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;

    @include mobile {
      width: 288px;
      font-size: 20px;

      br {
        display: none;
      }
    }

    @include tablet {
      font-size: 20px;
    }
  }
}

.why-choose-us-wrap-descr {
  width: 846px;

  margin-top: 39px;
  color: $white-color;
  font-family: $font-roboto-light;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.35;

  @include mobile {
    width: auto;
    margin-top: 24px;
  }

  @include tablet {
    width: auto;
    margin-top: 24px;
  }
}

.why-choose-us-advantages {
  &__title {
    color: $white-color;
    font-family: Roboto-medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.35;
    margin: 30px 0 20px 0px;

    @include mobile {
      margin-top: 20px;
    }

    @include tablet {
      margin-top: 20px;
    }
  }
}

.why-choose-us-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include mobile {
    gap: 10px;
  }

  &__item {
    color: $white-color;
    font-family: $font-roboto-light;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.35;

    @include mobile {
      width: auto;
    }
    @include tablet {
      width: auto;
    }
  }
}

.form {
  width: 418px;
  height: 552px;
  flex-shrink: 0;
  padding-top: 51px;
  padding: 51px 35px;
  background: #202020;

  @include mobile {
    width: 100%;
    margin-top: 20px;
    padding: 21px 15px;
    height: 444px;
    margin-bottom: 30px;
  }

  @include tablet {
    margin-top: 40px;
    width: 550px;
    height: 552px;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .form-descr {
    color: $white-color;
    text-align: center;

    width: 349px;
    font-family: Roboto-medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.35;
    margin-bottom: 26px;

    @include mobile {
      width: 258px;
      font-size: 16px;
    }

    @include tablet {
      width: 100%;
    }
  }

  .form-input {
    width: 100%;
    height: 69px;
    padding: 23px 30px;
    color: $secondary-color;

    font-family: $font-roboto-light;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.35;

    &:last-of-type {
      margin-top: 15px;
    }

    @include mobile {
      color: $secondary-color;
      font-size: 15px;
      height: auto;

      padding: 18px 20px;
    }
  }
}

::placeholder {
  color: $secondary-color;
  font-family: $font-roboto-light;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.35;

  @include mobile {
    font-size: 15px;
  }
}

.why-choose-us-btn {
  margin: 30px auto;
  width: 348px;
  height: 64px;
  justify-content: center;

  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 100%;
  }
}
