.work-areas {
  margin-bottom: 120px;

  @include mobile {
    margin-bottom: 0;
    padding-bottom: 37px;
  }

  &__title {
    font-size: 40px;

    @include mobile {
      font-size: 20px;
    }

    @include tablet {
      font-size: 25px;
    }
  }
}

.wrap-work-areas {
  border: 2px solid $color-accent;
  padding: 43px 65px 52px 65px;

  @include mobile {
    padding: 15px 10px;
  }
}

.work-areas-grid {
  margin-top: 39px;
  display: grid;
  justify-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
  }

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
  }

  li {
    display: flex;

    a {
      color: $secondary-color;
      font-family: Roboto-medium;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.35;

      &:hover {
        color: $color-accent;
      }

      @include mobile {
        font-size: 16px;
      }
    }
  }
}
